*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans serif;
}

main {
  padding: 0 7rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

header {
  font-family: 'Shrikhand', cursive;
  -webkit-box-shadow: 2px 2px 2px 2px #dfdbdb;
          box-shadow: 2px 2px 2px 2px #dfdbdb;
  text-align: center;
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

main .ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}

main .ville i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}

.explorer h2 {
  font-size: 2rem;
}

.explorer p {
  font-size: 1rem;
}

.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 1px 8px -3px #000000;
          box-shadow: 2px 1px 8px -3px #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-transition: all 200ms;
  transition: all 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}

.explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}

.tuto ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .tuto ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 1px 8px -3px #000000;
          box-shadow: 2px 1px 8px -3px #000000;
}

.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tuto li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #f6f6f6;
}

.menus .menus__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .menus .menus__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menus .menus__cards .new {
  position: relative;
}

.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
}

.menus .card__image {
  height: 15rem;
  border-radius: 1rem;
  background-size: cover;
}

.menus .card__image-1 {
  background-image: url("../../assets/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menus .card__image-2 {
  background-image: url("../../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.menus .card__image-3 {
  background-image: url("../../assets/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menus .card__image-4 {
  background-image: url("../../assets/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
/*# sourceMappingURL=sass.css.map */